.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: cursive;
    font-size: larger;
}

.question {
    margin-right: 1rem;

}

.answer {
    margin-right: 0rem;
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1rem;
}

.cipherVisible {
    display: inline-block;
}

.cipherInvisible {
    display: inline-block;
}

.cipherVisible {
    line-height: 0px;
    border-radius: 50%;
    font-size: 32px;
    background-color: rgb(29, 215, 29);
    color: white;
}

.cipherInvisible {
    line-height: 0px;
    border-radius: 50%;
    font-size: 32px;
    background-color: red;
    color: red;
}

.cipherVisible span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.cipherInvisible span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
}